@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full scroll-smooth bg-gray-900 bg-gradient-to-b from-black/40 to-black/40;
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
